/** LOGIN **/
#headerLogin {
	width: 100%;
	background-color: #152770;
}
#sectionLogin {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 50px 0;
	margin-bottom: 50px;
	transition: all 800ms ease;
}
#botoneraLogin{
	width: 80%;
	margin: 30px 10%;
}
#botoneraLogin p{
	text-align: center;
	font-size: 1.5em;
}
#botoneraLogin button{
	width: 20%;
	margin: 80px 14.5%;
	border: none;
	border-radius: 20px;
	padding: 20px 0;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
    transition: all 800ms ease;
}
#botoneraLogin button:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    box-shadow: 0 0 1em #797D7F;
}
#footerLogin {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #152770;
	color: #FFF;
	text-align: center;
	padding: 12px 0;
	min-height: 50px;
}
#footerLogin p{
	margin: 10px 0;
}
#footerLogin p a{
	margin: 50px 80px;
	color: #FFF;
	transition: all 800ms ease;
}
#footerLogin p a:hover{
	color: #FFBA00;
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
#atrasLogin{
	display: none;
	top: 0;
	position: absolute;
	margin: 1%;
	margin-left: 50px;
	font-size: 4em;
}
#atrasLogin a{
	display: inline-block;
	color: #FFF;
	transition: all 800ms ease;
}
#atrasLogin a:hover{
	color: #FFBA00;
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
.imagenNormalLogin{
	width: 30%;
	height: auto;
	margin: 2.6% 35%;
	transition: all 1000ms ease;
}
.imagenReducidaLogin{
	width: 10%;
	height: auto;
	margin: 0.5% 45%;
	transition: all 1000ms ease;
}
/** REGISTRO - LOGIN **/
#loginLogin, #registroLogin, #recuperarLogin{
	width: 30%;
	margin: 0 35%;
	display: none;
}
#loginLogin h1, #registroLogin h1, #recuperarLogin h1{
	margin: 5% 1%;
	font-size: 2.5em;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	text-align: left;
}
#loginLogin ul, #registroLogin ul, #recuperarLogin ul{
	width: 100%;
	list-style: none;
	margin-bottom: 5px;
}
#loginLogin li, #registroLogin li, #recuperarLogin li{
	width: 98%;
	padding: 0.5% 1%;
	margin-bottom: 5px;
	font-weight: bold;
}
#loginLogin input, #registroLogin input, #recuperarLogin input{
	width: 94%;
	padding: 2.5%;
	border: 1px solid #1C2833;
	border-radius: 10px;
}
#loginLogin input[type="button"], #registroLogin input[type="button"], #recuperarLogin input[type="button"]{
	width: 60%;
	padding: 2.5% 0;
	margin: 5% 20%;
	background-color: #9FD120;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	border: none;
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
	transition: all 800ms ease;
}
#registroLogin input[type="button"]{
	background-color: #FFBA00;
}
#loginLogin input[type="button"]:hover, #registroLogin input[type="button"]:hover, #recuperarLogin input[type="button"]:hover{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
#registroNombre, #registroPass{
	width: 100%;
	overflow: hidden;
}
#registroNombre ul, #registroPass ul, #registroCaptcha ul{
	width: 50%;
	float: left;
}
#registroNombre li, #registroPass li, #registroCaptcha li{
	width: 96%;
	padding: 0.5% 2%;
	margin-bottom: 2.5%;
}
#registroNombre input, #registroPass input, #registroCaptcha input{
	width: 88%;
	padding: 5%;
}
.alertaRegistro, .alertaLogin{
	display: none;
}
#registroCaptcha{
	width: 60%;
	margin: 0 20%;
}
#registroCaptcha img{
	width: 100%;
}
#loginLogin a{
	display: inline-block;
	margin: 20px 10px;
	text-decoration: none;
	font-weight: bold;
	color: #152770;
}

/* ---------- RESPONSIVE --------- */
@media screen and (max-width:1920px){
	#loginLogin h1, #registroLogin h1, #recuperarLogin h1{
		margin: 0;
	}
	#loginLogin a{
	margin: 5px 10px;
	}
	#botoneraLogin{
		margin-top: 0;
	}
	#botoneraLogin button{
		width: 30%;
		margin: 10px 9.5%;
	}
	#atrasLogin{
		margin: 0.5%;
		margin-left: 50px;
		font-size: 3.8em;
	}
}

@media screen and (max-width:1024px){
	/** LOGIN **/
	#botoneraLogin{
		margin: 10%;
	}
	#botoneraLogin p{
		font-size: 2em;
	}
	#botoneraLogin button{
		width: 80%;
		margin: 60px 10%;
		padding: 50px 0;
		font-size: 2.5em;
		border-radius: 50px;
	}
	#footerLogin {
		display: inline-block;
		font-size: 2em;
	}
	#atrasLogin{
		font-size: 7.2em;
	}
	.imagenNormalLogin{
		width: 90%;
		margin: 5%;
	}
	.imagenReducidaLogin{
		width: 30%;
		margin: 0.5% 35%;
	}
	#loginLogin, #registroLogin, #recuperarLogin{
		width: 90%;
		margin: 10% 5%;
		font-size: 2.3em;
	}
	#loginLogin input[type="button"], #registroLogin input[type="button"], #recuperarLogin input[type="button"]{
		border-radius: 35px;
		font-size: 1em;
	}
	#loginLogin h1, #registroLogin h1, #recuperarLogin h1{
		font-size: 1.5em;
	}
	#loginLogin input, #registroLogin input, #recuperarLogin input{
		font-size: 0.8em;
		border-radius: 25px;
	}
	#registroNombre ul, #registroPass ul, #registroCaptcha ul{
		width: 100%;
	}
	#registroNombre input, #registroPass input, #registroCaptcha input{
		width: 94%;
		padding: 3%;
	}
	#registroCaptcha{
		width: 100%;
		margin: 0;
	}
	#registroCaptcha img{
		width: 80%;
		margin: 0 10%;
	}
}

@media screen and (max-width:900px){
	/** LOGIN **/
	#botoneraLogin{
		margin: 2% 10%;
	}
}

@media screen and (max-width:700px){
	/** LOGIN **/
	#botoneraLogin button{
		margin: 35px 10%;
		padding: 20px 0;
		font-size: 1.2em;
		border-radius: 20px;
	}
	#botoneraLogin p{
		font-size: 1em;
	}
	#footerLogin {
		font-size: 0.85em;
	}
	#androidLogin{
		display: none;
	}
	#atrasLogin{
		font-size: 3em;
	}
	#loginLogin, #registroLogin, #recuperarLogin{
		font-size: 1em;
	}
	#loginLogin h1, #registroLogin h1, #recuperarLogin h1{
		font-size: 2em;
	}
	#loginLogin input, #registroLogin input, #recuperarLogin input{
		border-radius: 10px;
		font-size: 1em;
	}
	#loginLogin input[type="button"], #registroLogin input[type="button"], #recuperarLogin input[type="button"]{
		border-radius: 15px;
		font-size: 1.2em;
	}
}