*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body{
	background-color: #F7F9F9;
}

/** SECTION **/
section{
	width: 70%;
	padding: 1% 5%;
}
section h1{
	margin: 25px 1%;
	font-size: 2.3em;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	text-align: center;
}
#tituloH2{
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
}

/** ASIDE **/
aside{
	position: fixed;
	width: 18.5%;
	height: 100%;
	right: 0;
	top: 0;
	overflow: hidden;
	transition: all 800ms ease;
}
aside ul{
	list-style: none;
	width: 100%;
	margin: 80px 0;
	margin-top: 30px;
	overflow: hidden;
}
aside li{
	width: 20%;
	float: left;
	text-align: center;
}
aside li a{
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	font-size: 1.5em;
	padding: 5px 0;
	transition: all 800ms ease;
}
aside li a:hover{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
aside img{
	width: 80%;
	margin: 0 10%;
	margin-top: 50px;
}
aside p{
	display: inline-block;
	position: fixed;
	bottom: 20px;
	width: 15%;
	text-align: center;
	font-size: 1em;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
}
aside h2{
	margin: 80px 0;
	text-align: center;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
}
aside select{
	width: 100%;
	padding: 5%;
	border-radius: 20px;
	border: none;
	background-color: #FFF;
}
aside select option{
	width: 100%;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Bungee Hairline', cursive;
	font-weight: bold;
	font-size: 1.3em;
}

#asidePlegable{
	float: left;
	width: 12.5%;
	height: 100%;
	color: #FFF;
	text-align: center;
	-webkit-box-shadow: inset -10px 0px 0px -5px rgba(255,255,255,1);
	-moz-box-shadow: inset -10px 0px 0px -5px rgba(255,255,255,1);
	box-shadow: inset -10px 0px 0px -5px rgba(255,255,255,1);
	transition: all 800ms ease;
}
#asidePlegable:hover{
	background-color: rgba(255,255,255,0.3);
}
#asidePlegable span{
	display: inline-block;
	position: relative;
	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
#asideGeneral{
	float: right;
	width: 77.5%;
	padding: 0 5%;
	height: 100%;
}
#asidePlegado{
	display: none;
	position: fixed;
	width: 2%;
	height: 100%;
	right: 0;
	top: 0;
	color: #FFF;
	text-align: center;
	transition: all 800ms ease;
}
#asidePlegado:hover{
    box-shadow: 0 0 2em #797D7F;
}
#asidePlegado span{
	display: inline-block;
	position: relative;
	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
#asideMovilPlegable{
	display: none;
	width: 100%;
	padding: 10px;
	text-align: center;
	color: #FFF;
	-webkit-box-shadow: inset 0px -15px 0px -5px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px -15px 0px -5px rgba(255,255,255,1);
	box-shadow: inset 0px -15px 0px -5px rgba(255,255,255,1);
}
#asideMovilPlegado{
	display: none;
	position: fixed;
	width: 100%;
	padding: 10px;
	bottom: 0;
	color: #FFF;
	text-align: center;
}

#menuAside1, #menuAside2{
	width: 100%;
	color: #FFF;
	margin: 80px 0;
}
#menuAside1 ul, #menuAside2 ul{
	width: 100%;
	color: #FFF;
}
#menuAside2{
	display: none;
}
#menuAside1 li, #menuAside2 li{
	width: 25%;
	padding: 10px 0;
	transition: all 800ms ease;
}
#menuAside1 li:hover, #menuAside2 li:hover{
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

/** INDEX **/
#salirCampus{
	width: 100%;
	text-align: center;
}
#salirCampus a{
	display: inline-block;
	text-decoration: none;
	padding: 15px 25px;
	color: #FFF;
	text-shadow: 0.5px 0.5px 0.5px #7A7A7A;
	border-radius: 22px;
	text-transform: uppercase;
	transition: all 800ms ease;
}
#salirCampus a:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
.asignaturasIndex{
	width: 30%;
	margin: 80px 35%;
	padding: 20px 0;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #FFF;
	border-radius: 25px;
	text-align: center;
	transition: all 800ms ease;
}
.asignaturasIndex:hover{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

/** PERFIL **/
#tarjetaPerfil{
	width: 100%;
	padding: 5px 0 30px 0;
	border: 1px solid #E5E7E9;
	border-radius: 15px;
	background-color: #F2F3F4;
}
#tarjetaPerfil hr{
	width: 80%;
	margin: 50px 10%;
}
#tarjetaPerfil h3, #tarjetaPerfil p{
	margin: 5px 5%;
}
#imagenPerfil{
	width: 100%;
	margin: 0;
	text-align: center;
}
#imagenPerfil span{
	display: inline-block;
	width: 350px;
	height: 350px;
	border: 8px solid;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border-radius: 100%;
    box-shadow: 0 0 1em #979A9A;
	transition: all 800ms ease;
}
#cambiaFotoPerfil{
	color: #f2f3f4; 
	transition: all 800ms ease;
	font-weight: bold;
}
#datosPerfil{
	width: 100%;
	text-align: center;
    text-shadow: 0 0 1em #979A9A;
}
#datosPerfil h2{
	text-transform: uppercase;
	margin: 25px 0;
}
#datosPerfil textarea{
	resize: none;
	width: 90%;
	height: auto;
	text-align: center;
	font-size: 1em;
	border: none;
	background-color: rgba(0,0,0,0);
	text-shadow: 0 0 0.5em #979A9A;
}
#redesPlegablePerfil a{
	display: inline-block;
	text-decoration: none;
	margin: 25px 0;
}
#redesPerfil{
	width: 90%;
	padding: 30px 5%;
	overflow: hidden;
	border: 1px solid #E5E7E9;
	border-radius: 15px;
	background-color: #F2F3F4;
}
#personalPerfil{
	width: 90%;
	margin: 0 5%;
	padding: 10px 0;
	overflow: hidden;
}
#redesPerfil ul, #personalPerfil ul{
	width: 40%;
	margin: 5px 5%;
	float: left;
	list-style: none;
}
#redesPerfil li, #personalPerfil li{
	width: 100%;
}
#redesPerfil label, #personalPerfil label{
	display: inline-block;
	margin: 5px;
}
#redesPerfil input, #personalPerfil input{
	width: 95%;
	padding: 2.5%;
	border: 1px solid;
	border-radius: 10px;
}
#redesPerfil input[type="submit"], #personalPerfil input[type="submit"]{
	width: 35%;
	margin: 25px 32% 0 32%;
	padding: 1% 0.5%;
	border: none;
	border-radius: 10px;
	font-size: 1.05em;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
#redesPerfil input[type="submit"]:hover, #personalPerfil input[type="submit"]:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}

/** ALERTAS **/
#alertaPantalla{
	display: none;
	width: 100%;
	height: 2000px;
	background-color: rgba(23, 32, 42, 0.8);
	position: fixed;
	top: 0;
}
#alertaMensaje{
	display: none;
	position: fixed;
	top: 250px;
	width: 50%;
	margin: 0 25%;
	border: 2px solid;
	border-radius: 20px;
	padding: 50px 0;
	text-align: center;
	background-color: #F2F3F4;
}
#alertaMensaje h2{
	margin-bottom: 20px;
	color: #BC0000;
	text-transform: uppercase;
}
#alertaMensaje h3{
	margin: 10px 0;
}
#alertaMensaje button{
	margin-top: 50px;
	padding: 10px 20px;
	font-size: 1.2em;
	border: none;
	border-radius: 15px;
	background-color: #9FD120;
	color: #FFF;
	text-transform: uppercase;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	font-weight: bold;
}

/** AYUDA **/
#ayudaView button{
	width: 20%;
	margin: 25px 40%;
	margin-top: 0;
	padding: 8px 0;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	border-radius: 10px;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;

}
#ayudaView button:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
#ayudaView h3 a{
	display: inline-block;
	text-decoration: none;
    text-shadow: 0 0 1em #B3B6B7;
	font-size: 1.2em;
	margin: 10px 0;
	transition: all 800ms ease;
}
#ayudaView h3 a:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
}
#ayudaView p{
	margin: 2.5%;
	text-align: justify;
	transition: all 800ms ease;
}
#ayudaView img{
	width: 80%;
	margin: 0 10%;
	text-align: justify;
	transition: all 800ms ease;
}
#formConsulta{
	display: none;
	width: 80%;
	margin: 0 10%;
}
#formConsulta ul{
	list-style: none;
	width: 100%;
	margin: 25px 0;
}
#formConsulta li{
	list-style: none;
	width: 70%;
	margin: 5px 15%;
}
#formConsulta label{
	display: inline-block;
	margin-left: 5px;
}
#formConsulta input{
	width: 95%;
	padding: 10px 2.5%;
	border: 1px solid;
	border-radius: 10px;
}
#formConsulta textarea{
	width: 95%;
	height: 80px;
	padding: 10px 2.5%;
	border: 1px solid;
	border-radius: 10px;
	resize: none;
}
#formConsulta input[type="button"]{
	width: 40%;
	margin: 0 30%;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
	border: none;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
#formConsulta input[type="button"]:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}

/** AJUSTES **/
#ajustesView h3 a{
	display: inline-block;
	text-decoration: none;
    text-shadow: 1px 1px 1px #B3B6B7;
	font-size: 1.2em;
	margin: 50px 0 25px 0;
	transition: all 800ms ease;
}
#ajustesView h3 a:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
}
#temaAjustes, #passAjustes, #notificacionesAjustes{
	background-color: #ECF0F1;
	width: 90%;
	padding: 5%;
	text-align: justify;
	border-radius: 20px;
}
#passAjustes ul, #notificacionesAjustes ul{
	list-style: none;
	width: 100%;
	margin: 15px 0;
}
#passAjustes li, #notificacionesAjustes li{
	width: 100%;
	margin: 5px 0;
}
#passAjustes input[type="password"]{
	width: 97%;
	padding: 1.5%;
	border: 1px solid;
	border-radius: 15px;
}
#temaAjustes input[type="button"]{
	border-radius: 15px;
}
#temaAjustes input[type="submit"], #passAjustes input[type="button"]{
	width: 30%;
	margin: 25px 35%;
	margin-bottom: 0;
	padding: 10px 0;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	border-radius: 15px;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
#temaAjustes input[type="submit"]:hover, #passAjustes input[type="button"]:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
#notificacionesAjustes input[type="button"]{
	width: 25%;
	padding: 10px 0;
	font-size: 0.9em;
	border: none;
	border-radius: 15px;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	font-weight: bold;
}
#completaTema{
	width: 100%;
	overflow: hidden;
	text-align: center;
}
#completaTema ul{
	display: inline-block;
	width: auto;
	list-style: none;
}
#completaTema input[type="button"]{
	width: 80px;
	height: 80px;
	margin: 20px;
	border: 4px solid #909497;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	border-radius: 15px;
}

/** TARJETAS CAMPUS **/
.tarjetaCampus, #newComentarioCampus{
	width: 80%;
	margin: 50px 5%;
	padding: 1.5% 5%;
	background-color: #ECF0F1;
	border-radius: 20px;
	overflow: hidden;
}
#newComentarioCampus{
	display: none;
}
.imagenTarjetaCampus{
	width: 20%;
	float: left;
	text-align: center;
}
.datosTarjetaCampus{
	width: 80%;
	float: right;
}
.botonTarjetaCampus{
	width: 100%;
	clear: both;
}
.tarjetaCampus h3{
	text-transform: uppercase;
	font-size: 1.5em;
	text-shadow: 1.1px 1.1px 1.1px #7A7A7A;
}
.tarjetaCampus h4{
	font-size: 1.4em;
}
.tarjetaCampus p{
	margin: 10px 0;
}
.tarjetaCampus button, #newComentarioCampus input[type="button"]{
	width: 20%;
	padding: 8px 0;
	font-weight: bold;
	font-size: 1em;
	border: none;
	border-radius: 15px;
	float: right;
	color: #FFF;
	text-shadow: 1.1px 1.1px 1.1px #7A7A7A;
	transition: all 800ms ease;
}
.tarjetaCampus button:hover, #newComentarioCampus input[type="button"]:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
.tarjetaCampus ul{
	width: 80%;
	padding: 10px 10%;
	overflow: hidden;
}
.tarjetaCampus li{
	width: 33%;
	text-align: center;
	float: left;
	list-style: none;
}
.tarjetaCampus span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.tarjetaCampus img{
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 30%;
}
.tarjetaCampus li p{
	word-break: break-all;
	margin-top: 0;
}
#newComentarioCampus ul{
	list-style: none;
	width: 100%;
	margin: 25px 0;
}
#newComentarioCampus li{
	width: 100%;
	margin: 10px 0;
}
#newComentarioCampus input[type="text"]{
	width: 97%;
	padding: 1.5%;
	resize: none;
	border: 1px solid #626567;
	border-radius: 15px;
}
#newComentarioCampus textarea{
	width: 97%;
	height: 150px;
	padding: 1.5%;
	resize: none;
	border: 1px solid #626567;
	border-radius: 15px;
}
#fileForm{
	width: 100%;
	margin: 0;
	overflow: hidden;
}
#fileForm ul{
	width: 33%;
	float: left;
}
#fileForm span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#fileForm input[type="button"]{
	width: 50%;
	margin: 0 25%;
	font-size: 1em;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
}
#fileForm input[type="button"]:hover{
	-webkit-transform:scale(1.04);
    transform:scale(1.04);
}
.archivosTarjetaCampus{
	width: 100%;
}
.archivosTarjetaCampus ul{
	width: 60%;
	padding: 0 20%;
	overflow: hidden;
}
.archivosTarjetaCampus li{
	width: 33%;
	text-align: center;
	float: left;
	list-style: none;
}
.archivosTarjetaCampus span{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.archivosTarjetaCampus li p{
	font-size: 0.7em;
	margin: 0;
}
#nuevoButton{
	width: 20%;
	margin: 20px 40% 0 40%;
	padding: 10px 0;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	border-radius: 15px;
	background-color: #9FD120;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
#nuevoButton:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}

/* ---------- RESPONSIVE --------- */
@media screen and (max-width:1920px){
	/** SECTION **/
	section{
		width: 65%;
	}
	
	/** ASIDE **/
	aside{
		width: 25%;
		height: 100%;
	}
	aside img{
		margin-top: 25px;
	}
	aside ul, aside h2{
		margin: 30px 0;
	}
	aside p{
		bottom: 10px;
		width: 20%;
	}
	#menuAside1, #menuAside2{
		margin: 0;
	}

	/** ALERTAS **/
	#alertaMensaje{
		top: 100px;
	}

	/** INDEX **/
	.asignaturasIndex{
		width: 50%;
		margin: 30px 25%;
	}

	/** PERFIL **/
	#imagenPerfil span{
		width: 300px;
		height: 300px;
	}
}

@media screen and (max-width:1024px){
	/** SECTION **/
	section{
		width: 90%;
		padding: 1% 5%;
		margin-bottom: 200px;
	}
	section h1{
		font-size: 4em;
	}
	#tituloH2{
		font-size: 3em;
	}
	section p{
		font-size: 37px;
	}
	
	/** ASIDE **/
	aside{
		display: none;
		width: 100%;
	}
	aside ul{
		margin: 80px 0;
	}
	aside li{
		font-size: 2.5em;
	}
	aside li a{
		font-size: 1.5em;
	}
	aside img{
		width: 60%;
		margin: 0 20%;
		margin-top: 10px;
	}
	aside p{
		bottom: 40px;
		width: 90%;
		font-size: 2.5em;
	}
	aside h2{
		font-size: 3.5em;
		margin: 80px 0 50px 0;
	}
	aside select{
		padding: 3%;
		font-size: 2.5em;
		border-radius: 40px;
	}
	
	#asidePlegable{
		display: none;
	}
	#asideGeneral{
		width: 90%;
		padding: 0 5%;
	}
	#asideMovilPlegable, #asideMovilPlegado{
		display: inline-block;
	}

	#menuAside1, #menuAside2{
		margin: 80px 0;
	}
	#menuAside1 li, #menuAside2 li{
		padding: 20px 0;
	}
	
	/** INDEX **/
	#salirCampus a{
		margin-top: 25px;
		padding: 20px 30px;
		border-radius: 35px;
		font-size: 2.5em;
	}
	.asignaturasIndex{
		width: 95%;
		margin: 80px 0;
		padding: 25px 2.5%;
		border-radius: 35px;
		font-size: 1.5em;
	}

	/** ALERTAS **/
	#alertaMensaje{
		top: 350px;
		width: 75%;
		margin: 0 7.5%;
		padding: 50px 5%;
		font-size: 2em;
		text-align: center;
		background-color: #F2F3F4;
	}

	/** PERFIL **/
	#tarjetaPerfil{
		border: none;
		background-color: #f7f9f9;
		font-size: 1.2em;
	}
	#tarjetaPerfil h3{
		font-size: 1.3em;
	}
	#tarjetaPerfil hr{
		width: 90%;
		margin: 50px 5%;
	}
	#imagenPerfil span{
		width: 500px;
		height: 500px;
	}
	#cambiaFotoPerfil{
		color: #000;
		font-size: 1.5em;
	}
	#cambiaFotoPerfil p{
		font-size: 1em;
	}
	#datosPerfil textarea{
		height: 250px;
	}
	#redesPlegablePerfil a{
		margin: 25px;
		font-size: 1.5em;
	}
	#redesPerfil{
		border: none;
		background-color: #f7f9f9;
	}
	#redesPerfil ul, #personalPerfil ul{
		width: 99.5%;
		margin: 15px 0;
		font-size: 1.5em;
	}
	#redesPerfil input, #personalPerfil input{
		border: 1px solid #797D7F;
		border-radius: 20px;
		font-size: 1.1em;
	}
	#redesPerfil input[type="submit"], #personalPerfil input[type="submit"]{
		width: 60%;
		margin: 25px 20%;
		padding: 2.5% 0;
		border-radius: 20px;
		font-size: 1.5em;
	}

	/** AYUDA **/
	#ayudaView button{
		width: 60%;
		margin: 80px 20%;
		margin-top: 20px;
		padding: 20px 0;
		font-size: 2em;
		border-radius: 20px;
	}
	#ayudaView h3 a{
		font-size: 2em;
		margin: 20px 0;
	}
	#ayudaView p{
		margin: 2.5% 1%;
	}
	#ayudaView img{
		width: 90%;
		margin: 0 5%;
	}
	#formConsulta{
		width: 100%;
		margin: 0;
	}
	#formConsulta ul{
		list-style: none;
		width: 100%;
		margin: 25px 0;
	}
	#formConsulta li{
		list-style: none;
		width: 90%;
		margin: 5px 5%;
	}
	#formConsulta label{
		margin-left: 10px;
		font-size: 2em;
	}
	#formConsulta input{
		border-radius: 20px;
		font-size: 2em;
	}
	#formConsulta textarea{
		height: 300px;
		border-radius: 20px;
		font-size: 1.1em;
	}
	#formConsulta input[type="button"]{
		width: 60%;
		margin: 25px 20%;
		padding: 20px 0;
		font-size: 2em;
	}
	/** AJUSTES **/
	#ajustesView h3 a{
		font-size: 1.8em;
	}
	#temaAjustes, #passAjustes, #notificacionesAjustes{
		width: 95%;
		padding: 2.5%;
		border-radius: 25px;
	}
	#passAjustes ul, #notificacionesAjustes ul{
		margin: 25px 0;
	}
	#passAjustes input[type="password"]{
		font-size: 1.5em;
		width: 96%;
		padding: 2%;
		border-radius: 20px;
	}
	#temaAjustes input[type="button"]{
		border-radius: 35px;
	}
	#temaAjustes input[type="submit"], #passAjustes input[type="button"]{
		width: 60%;
		margin: 25px 20%;
		padding: 15px 0;
		font-size: 2em;
		border-radius: 30px;
	}
	#notificacionesAjustes input[type="button"]{
		width: 50%;
		font-size: 1.5em;
		border-radius: 20px;
	}
	#completaTema input[type="button"]{
		width: 150px;
		height: 150px;
		margin: 25px;
		border-radius: 35px;
	}

	/** TARJETAS CAMPUS **/
	.tarjetaCampus, #newComentarioCampus{
		width: 90%;
		margin: 25px 0;
		padding: 5%;
		border-radius: 30px;
	}
	.imagenTarjetaCampus{
		width: 30%;
	}
	.datosTarjetaCampus{
		width: 70%;
	}
	.tarjetaCampus h3{
		font-size: 2.7em;
	}
	.tarjetaCampus h4{
		font-size: 2.5em;
	}
	.tarjetaCampus h5{
		font-size: 1.7em;
	}
	.tarjetaCampus p{
		text-align: justify;
	}
	.tarjetaCampus button, #newComentarioCampus input[type="button"]{
		width: 70%;
		margin: 0 15%;
		padding: 10px 0;
		font-size: 2.5em;
		border-radius: 25px;
	}
	.tarjetaCampus ul{
		width: 100%;
		padding: 10px 0;
	}
	.tarjetaCampus span{
		width: 200px;
		height: 200px;
	}
	.tarjetaCampus li p{
		text-align: center;
		font-size: 1.6em !important;
	}
	#newComentarioCampus label{
		font-size: 2.5em;
	}
	#newComentarioCampus textarea{
		font-size: 2.5em;
		height: 250px;
		border-radius: 25px;
	}
	#newComentarioCampus input[type="text"]{
		font-size: 2.2em;
		border-radius: 20px;
	}
	#fileForm{
		width: 100%;
		margin: 25px 0;
		overflow: hidden;
	}
	#fileForm span{
		width: 200px;
		height: 200px;
	}
	#fileForm input[type="button"]{
		width: 90%;
		margin: 10px 5%;
		font-size: 1.8em;
		border-radius: 8px;
		padding: 8px 0;
	}
	.archivosTarjetaCampus span{
		width: 90px;
		height: 90px;
	}
	.archivosTarjetaCampus li p{
		font-size: 1.1em !important;
	}
	#nuevoButton{
		width: 60%;
		margin: 30px 20% 0 20%;
		padding: 15px 0;
		font-size: 2.5em;
		border-radius: 30px;
	}
}

@media screen and (max-width:700px){
	/** SECTION **/
	section{
		width: 90%;
		padding: 1% 5%;
		margin-bottom: 100px;
	}
	section h1{
		font-size: 2em;
	}
	#tituloH2{
		font-size: 1.5em;
	}
	section p{
		font-size: 20px;
	}
	
	/** ASIDE **/
	aside ul{
		margin: 20px 0;
	}
	aside li{
		font-size: 1.5em;
	}
	aside li a{
		font-size: 1.2em;
	}
	aside img{
		width: 70%;
		margin: 0 15%;
		margin-top: 10px;
	}
	aside p{
		bottom: 20px;
		font-size: 1em;
	}
	aside h2{
		font-size: 1.5em;
		margin: 20px 0;
	}
	aside select{
		font-size: 1.5em;
		border-radius: 20px;
	}
	#asideGeneral{
		width: 90%;
		padding: 0 5%;
	}
	#asideMovilPlegable, #asideMovilPlegado{
		font-size: 0.4em;
	}
	#asideMovilPlegado{
		padding: 5px 0;
	}

	#menuAside1, #menuAside2{
		margin: 40px 0;
	}
	#menuAside1 li, #menuAside2 li{
		padding: 10px 0;
	}
	
	/** INDEX **/
	#salirCampus a{
		padding: 15px 25px;
		border-radius: 25px;
		font-size: 1.4em;
	}
	.asignaturasIndex{
		margin: 30px 0;
		padding: 20px 2.5%;
		border-radius: 25px;
		font-size: 1em;
	}

	/** ALERTAS **/
	#alertaMensaje{
		top: 200px;
		width: 80%;
		margin: 0 5%;
		padding: 50px 5%;
		font-size: 1em;
	}

	/** PERFIL **/
	#tarjetaPerfil{
		font-size: 1em;
	}
	#tarjetaPerfil h3{
		font-size: 1.3em;
	}
	#tarjetaPerfil hr{
		margin: 25px 5%;
	}
	#imagenPerfil span{
		width: 250px;
		height: 250px;
	}
	#cambiaFotoPerfil{
		font-size: 1em;
	}
	#datosPerfil textarea{
		height: 150px;
	}
	#redesPlegablePerfil a{
		margin: 5px;
		font-size: 1em;
	}
	#redesPerfil ul, #personalPerfil ul{
		width: 99.5%;
		font-size: 1em;
	}
	#redesPerfil input, #personalPerfil input{
		border-radius: 15px;
		font-size: 1em;
	}
	#redesPerfil input[type="submit"], #personalPerfil input[type="submit"]{
		border-radius: 15px;
		font-size: 1.2em;
	}

	/** AYUDA **/
	#ayudaView button{
		width: 60%;
		margin: 20px 20%;
		padding: 10px 0;
		font-size: 1em;
		border-radius: 15px;
	}
	#ayudaView h3 a{
		font-size: 1.15em;
		margin: 15px 0;
	}
	#ayudaView p{
		margin: 2.5% 1%;
		font-size: 0.9em;
	}
	#formConsulta ul{
		list-style: none;
		width: 100%;
		margin: 25px 0;
	}
	#formConsulta li{
		list-style: none;
		width: 90%;
		margin: 5px 5%;
	}
	#formConsulta label{
		margin-left: 5px;
		font-size: 1.2em;
	}
	#formConsulta input{
		border-radius: 10px;
		font-size: 1em;
	}
	#formConsulta textarea{
		height: 150px;
		border-radius: 10px;
		font-size: 1.1em;
	}
	#formConsulta input[type="button"]{
		width: 60%;
		margin: 10px 20%;
		padding: 10px 0;
		font-size: 1em;
	}
	/** AJUSTES **/
	#ajustesView h3 a{
		font-size: 1.1em;
	}
	#temaAjustes, #passAjustes, #notificacionesAjustes{
		border-radius: 15px;
	}
	#passAjustes ul, #notificacionesAjustes ul{
		margin: 25px 0;
	}
	#passAjustes input[type="password"]{
		font-size: 1em;
		border-radius: 12px;
	}
	#temaAjustes input[type="button"]{
		border-radius: 15px;
	}
	#temaAjustes input[type="submit"], #passAjustes input[type="button"]{
		padding: 10px 0;
		font-size: 1em;
		border-radius: 15px;
	}
	#notificacionesAjustes input[type="button"]{
		width: 55%;
		font-size: 0.8em;
		border-radius: 15px;
	}
	#completaTema input[type="button"]{
		width: 70px;
		height: 70px;
		margin: 5px;
		border-radius: 15px;
	}

	/** TARJETAS CAMPUS **/
	.tarjetaCampus, #newComentarioCampus{
		border-radius: 20px;
	}
	.tarjetaCampus h3{
		font-size: 1.7em;
	}
	.tarjetaCampus h4{
		font-size: 1.3em;
	}
	.tarjetaCampus h5{
		font-size: 0.9em;
	}
	.tarjetaCampus p{
		text-align: justify;
	}
	.tarjetaCampus button, #newComentarioCampus input[type="button"]{
		padding: 8px 0;
		font-size: 1.1em;
		border-radius: 15px;
	}
	.tarjetaCampus span{
		width: 80px;
		height: 80px;
	}
	.tarjetaCampus img{
		width: 70px;
		height: 70px;
	}
	.tarjetaCampus li p{
		text-align: center;
		font-size: 0.8em !important;
	}
	#newComentarioCampus label{
		font-size: 1.2em;
	}
	#newComentarioCampus textarea{
		font-size: 1.1em;
		height: 120px;
		border-radius: 15px;
	}
	#newComentarioCampus input[type="text"]{
		font-size: 1em;
		border-radius: 10px;
	}
	#fileForm{
		width: 100%;
		margin: 0;
		overflow: hidden;
	}
	#fileForm span{
		width: 80px;
		height: 80px;
	}
	#fileForm input[type="button"]{
		width: 90%;
		margin: 10px 5%;
		font-size: 0.7em;
		border-radius: 8px;
		padding: 8px 0;
	}
	.archivosTarjetaCampus span{
		width: 40px;
		height: 40px;
	}
	.archivosTarjetaCampus li p{
		font-size: 0.5em !important;
	}
	.datosTarjetaCampus h5{
		font-size: 0.6em;
	}
	.datosTarjetaCampus p{
		font-size: 1.1em;
		margin: 0;
	}
	#nuevoButton{
		padding: 10px 0;
		font-size: 1.1em;
		border-radius: 15px;
	}
}