/** INDEX **/
.adminCards{
	width: 100%;
	padding: 50px 0;
	overflow: hidden;
	text-align: center;
	font-size: 1.4em;
}
.adminCards div{
	float: left;
	width: 29%;
	margin: 0 2.16%;
	padding: 50px 0;
	border-radius: 15px;
    box-shadow: 0 0 1em #797D7F;
	transition: all 800ms ease;
	background-color: #ECF0F1;
}
.adminCards div:hover{
	-webkit-transform:scale(1.05);
    transform:scale(0.95);
}
.iconoCard{
	font-size: 1.6em;
}
.adminCards div input[type="button"]{
	margin-top: 20px; 
	padding: 8px 20px;
	border:none;
	border-radius: 10px;
	font-size: 0.8em;
	background-color: #FFBA00;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	transition: all 800ms ease;
}
.adminCards div input[type="button"]:hover{
    box-shadow: 0 0 1em #797D7F;
	background-color: #9FD120;
}

/** ADMINISTRATION LISTS **/
#addForm, #backList{
	position: fixed;
	right: 50px;
	bottom: 70px;
	font-size: 5em;
}
#addForm a{
	color: #3498DB;
	transition: all 800ms ease;
}
#addForm a:hover{
	color: #F39C12;
}
#backList a{
	color: #F39C12;
	transition: all 800ms ease;
}
#backList a:hover{
	color: #3498DB;
}
#buscadorList{
	width: 100%;
	text-align: right;
}
#formBusqueda{
	display: inline-block;
	width: 60%;
	margin: 0 20%;
	background-color: #D6EAF8;
	border-radius: 20px;
}
#buscadorList input[type="text"]{
	width: 64%;
	padding: 10px 2.5%;
	font-size: 1.5em;
	border: none;
	border-radius: 20px 0 0 20px;
	background-color: #D6EAF8;
}
#buscadorList input[type="button"]{
	width: 29.5%;
	padding: 10px 0;
	font-size: 1.5em;
	border: none;
	border-radius: 0 20px 20px 0;
	background-color: #34495E;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
}
.tarjetaContainer{
	width: 70%;
	margin: 50px 10%;
	padding: 25px 5%;
	border-radius: 20px;
	overflow: hidden;
    box-shadow: 0 0 1em #797D7F;
	background-color: #ECF0F1;
}
.imagenContainer{
	width: 20%;
	text-align: center;
	float: left;
}
.imagenContainer span{
	display: inline-block;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border-radius: 20px;
}
.datosContainer{
	width: 55%;
	margin-left: 50px;
	float: left;
}
.datosContainer p, .datosContainer h2{
	margin: 20px 0;
}
.botonesContainer{
	float: right;
	width: 15%;
}
.botonesContainer button{
	width: 100%;
	margin: 35px 0;
	border: none;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #FFBA00;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	font-size: 1.1em;
	padding: 10px 0;
	transition: all 800ms ease;
}
.botonesContainer button:hover{
    box-shadow: 0 0 1em #797D7F;
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
}
.archivosContainer{
	width: 80%;
	padding: 10px 10%;
	overflow: hidden;
}
.archivosContainer li{
	width: 33%;
	text-align: center;
	float: left;
	list-style: none;
}
.archivosContainer span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.archivosContainer li p{
	word-break: break-all;
	margin: 0;
}

/** ADMINISTRATION FORMS **/
#adminForm{
	width: 90%;
	margin: 50px 5%;
}
#adminForm span{
	display: none;
}
#adminForm ul{
	width: 100%;
	margin: 15px 0;
	list-style: none;
}
#adminForm li{
	width: 98%;
	margin: 2px 1%;
}
#adminForm input, #adminForm textarea, #adminForm select{
	width: 96%;
	padding: 2%;
	border-radius: 10px;
	border: 1px solid;
}
#adminForm textarea{
	height: 120px;
	resize: none;
}
#adminForm select{
	width: 100%;
	background-color: #FFF;
}
#adminForm select option{
	width: 100%;
	line-height: 50px;
	text-transform: uppercase;
	font-family: 'Bungee Hairline', cursive;
	font-weight: bold;
	font-size: 1.3em;
}
#adminForm input[type="date"]{
	background-color: #FFF;
}
#adminForm input[type="button"]{
	width: 60%;
	padding: 2% 0;
	margin: 2% 20%;
	border: none;
	background-color: #FFBA00;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
	transition: all 800ms ease;
}
#formDatos input[type="button"]{
	width: 100%;
	padding: 2% 0;
	margin: 0;
	border: none;
	background-color: #9FD120;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	font-weight: bold;
	text-transform: none;
	font-size: 1em;
}
#formDatos input[type="button"]:hover{
	background-color: #FFBA00;
}
#adminGuardar:hover{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
#formDatos{
	overflow: hidden;
}
#formDatos ul{
	float: left;
}
#formFoto{
	margin: auto;
	width: 100%;
	height: 150px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #DDDDDD;
}
#formDatos #formDatosFoto{
	width: 20%;
	margin-right: 5%;
}
#formDatos #formDatosTxtArea{
	width: 74.5%;
}
#dobleForm, #tripleForm{
	width: 100%;
	overflow: hidden;
}
#dobleForm ul{
	width: 50%;
	float: left;
}
#tripleForm ul{
	width: 33.33%;
	float: left;
}
#dobleForm li, #tripleForm li{
	width: 96%;
	padding: 0.5% 2%;
	margin: 2px 0;
}
#dobleForm input, #tripleForm input{
	width: 92%;
	padding: 4%;
	border-radius: 10px;
	border: 1px solid;
}
#tripleForm input[type="checkbox"]{
	width: 30px;
	height: 30px;
}
#usuarioTema{
	width: 100%;
	overflow: hidden;
	text-align: center;
}
#usuarioTema input[type="button"]{
	width: 80px;
	height: 80px;
	margin: 20px;
	border: 4px solid #909497;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
}

/** CONFIRMACION PANTALLA **/
#confirmacionPantalla{
	display: none;
	width: 100%;
	height: 2000px;
	background-color: rgba(23, 32, 42, 0.8);
	position: fixed;
	top: 0;
}
#confirmacionMensaje{
	display: none;
	position: fixed;
	top: 250px;
	width: 50%;
	margin: 0 25%;
	border: 2px solid;
	border-radius: 20px;
	padding: 50px 0;
	text-align: center;
	background-color: #F2F3F4;
}
#confirmacionMensaje h2{
	margin-bottom: 20px;
	color: #BC0000;
	text-transform: uppercase;
}
#confirmacionMensaje h3{
	margin: 10px 0;
}
#confirmacionMensaje button{
	margin: 50px 20px 0 20px;
	padding: 10px 20px;
	font-size: 1.2em;
	border: none;
	border-radius: 15px;
	background-color: #9FD120;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
	text-transform: uppercase;
	font-weight: bold;
}

/** ASIGNATURA LIST / FORM **/
.tituloDesplegable{
	margin: 20px 0;
	transition: all 800ms ease;
}
.tituloDesplegable a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
	transition: all 800ms ease;
}
.tituloDesplegable:hover {
	-webkit-transform:scale(1.05);
    transform:scale(0.95);
}

/** CONSULTAS **/
#consultaTarjeta{
	width: 90%;
	margin: 0 5%;
	font-size: 1.1em;
}
#consultaTarjeta ul{
	width: 100%;
	margin: 20px 0;
	list-style: none;
	border-bottom: 1px solid;
}
#consultaTarjeta li{
	margin: 5px 0;
}

/** ACTIVIDADES Y TEMARIO **/
#fileForm{
	width: 100%;
	margin: 25px 0;
	overflow: hidden;
}
#fileForm ul{
	width: 33%;
	float: left;
}
#fileForm span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#fileForm input[type="button"]{
	font-size: 1em;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
}
#fileForm input[type="button"]:hover{
	-webkit-transform:scale(1.04);
    transform:scale(1.04);
}


/* ---------- RESPONSIVE --------- */
@media screen and (max-width:1920px){
	/** INDEX **/
	.adminCards{
		margin: 0;
		padding: 25px 0;
	}
	.adminCards div{
		padding: 15px 0;
	}
	/** USUARIOS **/
	.tarjetaContainer{
		width: 90%;
		margin: 50px 0;
	}
	.datosContainer{
		width: 40%;
		margin-left: 100px;
	}
	/** CONFIRMACION PANTALLA **/
	#confirmacionMensaje{
		top: 150px;
	}
}

@media screen and (max-width:1024px){
	/** INDEX **/
	.adminCards{
		margin: 0;
		padding: 0;
		font-size: 2em;
	}
	.adminCards div{
		width: 80%;
		margin: 50px 10%;
		padding: 50px 0;
		border-radius: 25px;
	}
	.adminCards div input[type="button"]{
		padding: 10px 30px;
		border-radius: 15px;
		font-size: 1em;
	}

	/** USUARIOS LIST **/
	#addForm, #backList{
		font-size: 8em;
	}
	.tarjetaContainer{
		width: 90%;
		margin: 50px 0;
		font-size: 1.8em;
	}
	.imagenContainer{
		width: 35%;
	}
	.imagenContainer span{
		width: 250px;
		height: 250px;
	}
	.datosContainer{
		width: 60%;
		margin-left: 0;
	}
	.archivosContainer span{
		width: 200px;
		height: 200px;
	}
	.archivosContainer li p{
		font-size: 0.6em;
	}
	.botonesContainer{
		width: 100%;
	}
	.botonesContainer button{
		width: 30%;
		height: auto;
		margin: 20px 9.5% 0 9.5%;
		font-size: 1.1em;
		border-radius: 25px;
		padding: 20px 0;
	}
	#formBusqueda{
		width: 95%;
		margin: 0 2.5%;
		font-size: 1.5em;
	}
	#buscadorList input[type="text"]{
		padding: 25px 2.5%;
	}
	#buscadorList input[type="button"]{
		padding: 25px 0;
	}

	/** ADMINISTRATION FORMS **/
	#adminForm{
		width: 95%;
		margin: 50px 2.5%;
		font-size: 2em;
	}
	#adminForm input, #adminForm textarea, #adminForm select{
		font-size: 1.1em;
	}
	#adminForm textarea{
		height: 300px;
	}
	#adminForm input[type="button"]{
		width: 80%;
		margin: 10%;
		font-size: 1.5em;
	}
	#formDatos input[type="button"]{
		width: 100%;
		padding: 2% 0;
		margin: 2% 0;
		font-size: 0.9em;
	}
	#formFoto{
		height: 430px;
	}
	#formDatos #formDatosFoto{
		width: 50%;
		margin: 5% 25%;
	}
	#formDatos #formDatosTxtArea{
		width: 100%;
	}
	#dobleForm ul, #tripleForm ul{
		width: 100%;
	}
	#dobleForm li, #tripleForm li{
		width: 96%;
		padding: 0.5% 2%;
		margin: 2px 0;
	}
	#dobleForm input, #tripleForm input{
		width: 96%;
		padding: 2%;
	}
	#formDatos, #dobleForm, #tripleForm{
		font-size: 1.25em;
	}
	#formDatos input, #formDatos textarea, #dobleForm input, #tripleForm input{
		font-size: 0.9em;
	}
	#tripleForm input[type="checkbox"]{
		width: 60px;
		height: 60px;
	}
	#usuarioTema input[type="button"]{
		width: 150px;
		height: 150px;
		margin: 25px;
	}

	/** CONFIRMACION PANTALLA **/
	#confirmacionMensaje{
		top: 350px;
		width: 75%;
		margin: 0 7.5%;
		padding: 50px 5%;
		font-size: 2em;
		text-align: center;
		background-color: #F2F3F4;
	}

	/** ACTIVIDADES Y TEMARIO **/
	.tituloDesplegable a{
		font-size: 1.6em;
	}
	#fileForm{
		width: 100%;
		margin: 25px 0;
		overflow: hidden;
	}
	#fileForm span{
		width: 200px;
		height: 200px;
	}
	#fileForm input[type="button"]{
		width: 90%;
		margin: 10px 5%;
		font-size: 0.7em;
		border-radius: 8px;
		padding: 8px 0;
	}
}

@media screen and (max-width:700px){
	/** INDEX **/
	.adminCards{
		font-size: 1.2em;
	}
	.adminCards div{
		width: 90%;
		margin: 25px 5%;
		padding: 25px 0;
		border-radius: 20px;
	}
	.adminCards div input[type="button"]{
		padding: 8px 20px;
		border-radius: 10px;
		font-size: 0.8em;
	}

	/** USUARIOS LIST**/
	#addForm, #backList{
		right: 20px;
		bottom: 40px;
		font-size: 3.5em;
	}
	.tarjetaContainer{
		font-size: 0.9em;
	}
	.imagenContainer span{
		width: 110px;
		height: 110px;
	}
	.datosContainer p, .datosContainer h2{
		margin: 5px 0;
	}
	.datosContainer h2{
		font-size: 1.2em;
	}
	.archivosContainer span{
		width: 80px;
		height: 80px;
	}
	.botonesContainer button{
		font-size: 1em;
		border-radius: 10px;
		padding: 10px 0;
	}
	#formBusqueda, .tituloDesplegable{
		font-size: 0.8em;
	}
	#buscadorList input[type="text"]{
		padding: 10px 2.5%;
	}
	#buscadorList input[type="button"]{
		padding: 10px 0;
	}

	/** ADMINISTRATION FORMS **/
	#adminForm{
		margin: 25px 2.5%;
		font-size: 1em;
	}
	#adminForm input, #adminForm textarea, #adminForm select{
		font-size: 1em;
	}
	#adminForm textarea{
		height: 150px;
	}
	#adminForm input[type="button"]{
		margin: 25px 10% 100px 10%;
		font-size: 1.3em;
	}
	#formDatos input[type="button"]{
		width: 100%;
		padding: 2% 0;
		margin: 2% 0;
		font-size: 0.9em;
	}
	#formFoto{
		height: 180px;
	}
	#formDatos, #dobleForm, #tripleForm{
		font-size: 1em;
	}
	#formDatos input, #formDatos textarea, #dobleForm input, #tripleForm input{
		font-size: 1em;
	}
	#tripleForm input[type="checkbox"]{
		width: 30px;
		height: 30px;
	}
	#usuarioTema input[type="button"]{
		width: 70px;
		height: 70px;
		margin: 5px;
	}
	
	/** CONFIRMACION PANTALLA **/
	#confirmacionMensaje{
		top: 200px;
		width: 80%;
		margin: 0 5%;
		padding: 50px 5%;
		font-size: 1em;
	}

	/** ACTIVIDADES Y TEMARIO **/
	.tituloDesplegable a{
		font-size: 1.4em;
	}
	#fileForm{
		width: 100%;
		margin: 0;
		overflow: hidden;
	}
	#fileForm span{
		width: 80px;
		height: 80px;
	}
	#fileForm input[type="button"]{
		width: 90%;
		margin: 10px 5%;
		font-size: 0.7em;
		border-radius: 8px;
		padding: 8px 0;
	}
}

@media screen and (min-width:1500px){
	#adminForm{
		width: 70%;
		margin: 0 15%;
	}
}

@media screen and (min-width:2000px){
	#adminForm{
		width: 55%;
		margin: 0 22.5%;
	}
}