#asignaturasProfesor button{
	width: 60%;
	margin: 15px 20%;
	padding: 15px 0;
	border: none;
	border-radius: 15px;
	font-weight: bold;
	font-size: 1.1em;
	background-color: #ECF0F1;
    box-shadow: 0 0 0.5em #797D7F;
	transition: all 800ms ease;
}
#asignaturasProfesor button:hover{
	-webkit-transform:scale(1.02);
    transform:scale(0.95);
}

/** TARJETAS CAMPUS **/
.tarjetaCampus, #newComentarioCampus{
	width: 80%;
	margin: 50px 5%;
	padding: 1.5% 5%;
	background-color: #ECF0F1;
	border-radius: 20px;
	overflow: hidden;
}
#newComentarioCampus{
	display: none;
}
.imagenTarjetaCampus{
	width: 20%;
	float: left;
	text-align: center;
}
.datosTarjetaCampus{
	width: 80%;
	float: right;
}
.botonTarjetaCampus{
	width: 100%;
	clear: both;
}
.tarjetaCampus h3{
	text-transform: uppercase;
	font-size: 1.5em;
	text-shadow: 1.1px 1.1px 1.1px #7A7A7A;
}
.tarjetaCampus h4{
	font-size: 1.4em;
}
.tarjetaCampus p{
	margin: 10px 0;
}
.tarjetaCampus button, #newComentarioCampus input[type="button"]{
	width: 20%;
	padding: 8px 0;
	font-weight: bold;
	font-size: 1em;
	border: none;
	border-radius: 15px;
	float: right;
	color: #FFF;
	text-shadow: 1.1px 1.1px 1.1px #7A7A7A;
	transition: all 800ms ease;
}
.tarjetaCampus button:hover, #newComentarioCampus input[type="button"]:hover{
	-webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 0 0 1em #797D7F;
}
.tarjetaCampus ul{
	width: 80%;
	padding: 10px 10%;
	overflow: hidden;
}
.tarjetaCampus li{
	width: 33%;
	text-align: center;
	float: left;
	list-style: none;
}
.tarjetaCampus span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.tarjetaCampus img{
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 30%;
}
.tarjetaCampus li p{
	word-break: break-all;
	margin-top: 0;
}
#newComentarioCampus ul{
	list-style: none;
	width: 100%;
	margin: 25px 0;
}
#newComentarioCampus li{
	width: 100%;
	margin: 10px 0;
}
#newComentarioCampus textarea{
	width: 97%;
	height: 150px;
	padding: 1.5%;
	resize: none;
	border: 1px solid #626567;
	border-radius: 15px;
}
#fileForm{
	width: 100%;
	margin: 0;
	overflow: hidden;
}
#fileForm ul{
	width: 33%;
	float: left;
}
#fileForm span{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#fileForm input[type="button"]{
	width: 50%;
	margin: 0 25%;
	font-size: 1em;
	color: #FFF;
	text-shadow: 1.5px 1.5px 1.5px #7A7A7A;
}
#fileForm input[type="button"]:hover{
	-webkit-transform:scale(1.04);
    transform:scale(1.04);
}
.archivosTarjetaCampus{
	width: 100%;
}
.archivosTarjetaCampus ul{
	width: 60%;
	padding: 0 20%;
	overflow: hidden;
}
.archivosTarjetaCampus li{
	width: 33%;
	text-align: center;
	float: left;
	list-style: none;
}
.archivosTarjetaCampus span{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.archivosTarjetaCampus li p{
	font-size: 0.7em;
	margin: 0;
}

@media screen and (max-width:1024px){
	#asignaturasProfesor button{
		width: 90%;
		margin: 25px 5%;
		padding: 20px 0;
		border-radius: 30px;
		font-size: 1.8em;
	}

	/** TARJETAS CAMPUS **/
	.tarjetaCampus, #newComentarioCampus{
		width: 90%;
		margin: 25px 0;
		padding: 5%;
		border-radius: 30px;
	}
	.imagenTarjetaCampus{
		width: 30%;
	}
	.datosTarjetaCampus{
		width: 70%;
	}
	.tarjetaCampus h3{
		font-size: 2.7em;
	}
	.tarjetaCampus h4{
		font-size: 2.5em;
	}
	.tarjetaCampus h5{
		font-size: 1.7em;
	}
	.tarjetaCampus p{
		text-align: justify;
	}
	.tarjetaCampus button, #newComentarioCampus input[type="button"]{
		width: 70%;
		margin: 0 15%;
		padding: 10px 0;
		font-size: 2.5em;
		border-radius: 25px;
	}
	.tarjetaCampus ul{
		width: 100%;
		padding: 10px 0;
	}
	.tarjetaCampus span{
		width: 200px;
		height: 200px;
	}
	.tarjetaCampus li p{
		text-align: center;
		font-size: 1.6em !important;
	}
	#newComentarioCampus label{
		font-size: 2.5em;
	}
	#newComentarioCampus textarea{
		font-size: 2.5em;
		height: 250px;
		border-radius: 25px;
	}
	#fileForm{
		width: 100%;
		margin: 25px 0;
		overflow: hidden;
	}
	#fileForm span{
		width: 200px;
		height: 200px;
	}
	#fileForm input[type="button"]{
		width: 90%;
		margin: 10px 5%;
		font-size: 1.8em;
		border-radius: 8px;
		padding: 8px 0;
	}
	.archivosTarjetaCampus span{
		width: 90px;
		height: 90px;
	}
	.archivosTarjetaCampus li p{
		font-size: 1.1em !important;
	}
}

@media screen and (max-width:700px){
	#asignaturasProfesor button{
		margin: 10px 5%;
		padding: 10px 0;
		border-radius: 15px;
		font-size: 0.9em;
	}

	/** TARJETAS CAMPUS **/
	.tarjetaCampus, #newComentarioCampus{
		border-radius: 20px;
	}
	.tarjetaCampus h3{
		font-size: 1.7em;
	}
	.tarjetaCampus h4{
		font-size: 1.3em;
	}
	.tarjetaCampus h5{
		font-size: 0.9em;
	}
	.tarjetaCampus p{
		text-align: justify;
	}
	.tarjetaCampus button, #newComentarioCampus input[type="button"]{
		padding: 8px 0;
		font-size: 1.1em;
		border-radius: 15px;
	}
	.tarjetaCampus span{
		width: 80px;
		height: 80px;
	}
	.tarjetaCampus img{
		width: 70px;
		height: 70px;
	}
	.tarjetaCampus li p{
		text-align: center;
		font-size: 0.8em !important;
	}
	#newComentarioCampus label{
		font-size: 1.2em;
	}
	#newComentarioCampus textarea{
		font-size: 1.1em;
		height: 120px;
		border-radius: 15px;
	}
	#fileForm{
		width: 100%;
		margin: 0;
		overflow: hidden;
	}
	#fileForm span{
		width: 80px;
		height: 80px;
	}
	#fileForm input[type="button"]{
		width: 90%;
		margin: 10px 5%;
		font-size: 0.7em;
		border-radius: 8px;
		padding: 8px 0;
	}
	.archivosTarjetaCampus span{
		width: 40px;
		height: 40px;
	}
	.archivosTarjetaCampus li p{
		font-size: 0.5em !important;
	}
	.datosTarjetaCampus h5{
		font-size: 0.6em;
	}
	.datosTarjetaCampus p{
		font-size: 1.1em;
		margin: 0;
	}
}